html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
}

.animated-rows tr {
    animation: fadeIn 1s ease-in-out;

    @keyframes fadeIn {
        from {
            backgroundcolor: lightgreen;
        }
        to {
            backgroundcolor: white;
        }
    }
}
